*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bolder;
  font-family: Georgia, serif;
}
.container{
  width: 100vw;
  min-height: 100vh;
  background: #ffffff;
}
.container img{
  width: 1407px;
  height: 693px;
  margin: 50px;

}
.navbar img {
  margin: 2px;
  width: 9vw;
  height: 10vh;   
}

/* For tab screens */
@media (max-width: 1407px) {
  .container img {
    width: 90vw; 
    height: auto;
    margin: 20px;
  }

  .navbar img {
    width: 12vw;
    height: auto;
  }
}

/* For mobile screens */
@media (max-width: 500px) {
  .container img {
    width: 100%;
    height: auto;
    margin: 10px;
  }

  .navbar img {
    width: 20vw;
    height: auto;
  }
}

